.Index {
  background: #F7F7F7;
  padding: 0 16px;

  .customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    .customerNum {
      font-size: 15px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #232323;
    }

    .fliter {
      width: 45px;
      height: 24px;
      background: #FFAF14;
      border-radius: 9px;
      text-align: center;
      line-height: 24px;
      font-size: 13px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
    }
  }

  .carItem {
    display: flex;
    padding: 13px 11px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 10px;

    .rightContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .carImg {
      width: 55px;
      height: 55px;
      background: #CECECE;
      border-radius: 5px;
      margin-right: 13px;
    }

    .name {
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #232323;
      margin-right: 5px;
    }

    .channle {
      font-size: 15px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #00B705;
    }

    .tipCon::-webkit-scrollbar {
      display: none;
      /* Chrome Safari */
    }

    .tipCon {
      width: 240px;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      position: relative;
      scrollbar-width: none;
      /* firefox */
      -ms-overflow-style: none;
      /* IE 10+ */
    }

    .tip {
      min-width: 55px;
      height: 20px;
      background: #F5F5F4;
      border-radius: 10px;
      font-size: 11px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #232323;
      text-align: center;
      padding: 0 15px;
      margin-right: 7px;
    }
  }
}